<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
  </head>
  <body>
    <% if (user) { %>
      <% if(user.user_type=='Bank'){ %> 
      <h1>Welcome Bank <%= user.username %>!</h1>
      <form method="post" action="/signout">
        <button type="submit">Logout</button>
      </form>
      <% }else{ %>
        <h1>Welcome customer <%= user.username %>!</h1>
      <form method="post" action="/signout">
        <button type="submit">Logout</button>
      </form>
        <% } %> 
    <% } else { %>
      <h1>Welcome to my app!</h1>
      <p>Please sign up or sign in to continue.</p>
      <ul>
        <li><a href="/signup">Sign up</a></li>
        <li><a href="/signin">Sign in</a></li>
      </ul>
    <% } %>
  </body>
</html>
