<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sign Up</title>
  </head>
  <body>
    <h1>Sign Up</h1>
    <% if (error) { %>
    <div class="error"><%= error %></div>
    <% } %>
    <form method="post" action="/signup">
      <div>
        <input type="radio" id="Bank" name="user_type" value="Bank" />
          <label for="Bank">Bank</label><br />
        <input type="radio" id="Customer" name="user_type" value="Customer" />  
          <label for="Customer">Customer</label><br />


        <label for="username">Name</label>
        <input type="text" id="username" name="username" required />
      </div>
      <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />
      </div>
      <button type="submit">Sign Up</button>
    </form>
  </body>
</html>
